<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DS_CLIENT_ID" value="{CLIENT_ID}" />
    <add key="DS_IMPERSONATED_USER_GUID" value="{USER_ID}" />
    <add key="DS_TARGET_ACCOUNT_ID" value="FALSE" />
    <add key="DS_SIGNER_1_EMAIL" value="{USER_EMAIL}" />
    <add key="DS_SIGNER_1_NAME" value="{USER_FULLNAME}" />
    <add key="DS_CC_1_EMAIL" value="{USER_EMAIL}" />
    <add key="DS_CC_1_NAME" value="Charlie Copy" />
    <add key="DS_AUTH_SERVER" value="https://account-d.docusign.com"/>
    <add key="DS_TEMPLATE_ID" value="{ORDER_FORM_TEMPLATE_ID}"/>
    <add key="DS_PRIVATE_KEY" value="{RSA_PRIVATE_KEY"}/>
  </appSettings>
</configuration>
